<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button icon="menu-outline"></ion-menu-button>
    </ion-buttons>

    <ion-title slot="center">
      <div class="header-title">
        <ion-icon name="people-outline" class="header-icon"></ion-icon>
        Setting
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge color="danger" class="notification-badge">3</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item button (click)="openModal('theme')">
      <ion-icon [icon]="colorPaletteOutline" slot="start"></ion-icon>
      <ion-label>ธีม/โหมด</ion-label>
      <ion-icon [icon]="chevronForwardOutline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-modal #modal>
    <ng-template>
      <ion-content>
        <ion-nav #nav></ion-nav>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
